h1, h2, body, html, p {
    margin:0;
    padding:0;
}

body, html{
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parallax {
    /* The image used */
    background-image: url('bookshelf.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Vertically align the headers*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax h1{
    text-align: center;
    color: white;
    vertical-align: middle;
    font-size: 5em;
}

#button {
    background-color: #896641;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    margin: 50px auto;
    cursor: pointer;
}

#lorem {
    padding: 10px 0px;
    background-color: rgb(250, 239, 234);
}

#lorem p {
    padding: 10px 20px;
}

