<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="Favicon.png"/>
    </head>

    <body>
      <form action="/cadastrarUsuario" method="post">
        <label for="fname">Nome: </label><br>
        <input type="text" id="fname" name="nome" value="Maria dos Santos"><br>
        
        <label for="femail">Email:</label><br>
        <input type="email" id="femail" name="email" value="maria.santos@gmail.com"><br><br>
        
        <input type="submit" value="Cadastrar">
      </form>
    </body>
</html>
