<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="Favicon.png"/>
        <link rel="stylesheet" href="welcome.css"> 
    </head>
    <body>
        <div class=parallax>
            <h1>Bem-vindes!</h1>
            <h1 id="titulo">Programa de Gerenciamento de Livros</h1>

            <br><br>

            <a href="/paginaCadastro" id="button">Cadastre-se</a>
            
        </div>

        <div id="lorem">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat nisi turpis, id mollis sem euismod id. Aenean ullamcorper dolor ut faucibus bibendum. In venenatis malesuada laoreet. Pellentesque rhoncus vitae dui eu suscipit. Morbi vestibulum auctor lorem, sed sodales felis interdum et. Donec tristique massa at dui sodales malesuada. Donec ut ante pulvinar sapien sodales ultricies eu et massa. Quisque feugiat ac dui at imperdiet. Vestibulum commodo ac turpis ac porta. Aliquam erat volutpat. Suspendisse ac elementum turpis. Fusce a condimentum lorem, a vulputate turpis.</p>
            
            <p>Praesent felis lorem, iaculis sit amet metus non, facilisis interdum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida purus elit, a bibendum turpis tempor nec. Integer sed scelerisque quam. Nullam tortor nulla, accumsan sit amet sapien quis, suscipit interdum tellus. Morbi tristique sem id eros facilisis, in venenatis velit consequat. Pellentesque rhoncus ac magna nec dictum. Pellentesque sed ex interdum, auctor lectus a, iaculis odio. Aliquam erat volutpat. Vivamus turpis nisl, molestie consectetur eros sed, pellentesque lobortis magna. Duis congue mi vitae arcu ornare sollicitudin. Pellentesque ac cursus velit. Phasellus et facilisis ex, id sollicitudin risus. Donec interdum, sem et vehicula lobortis, tortor ante lacinia nunc, in sodales nunc orci quis ligula. Quisque scelerisque lobortis ante non sollicitudin. Vivamus feugiat vehicula erat, a gravida tellus cursus at.</p>

            <p>Sed lacinia nec velit quis volutpat. Cras eu dui eget est sodales molestie at sed tellus. Proin eu feugiat dolor. Ut consequat tortor at sapien dignissim, ac egestas tortor molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed placerat arcu mattis pharetra feugiat. Nulla facilisi. Morbi vulputate dui vitae tincidunt ultrices. Nam nec enim sem. Vestibulum sit amet ante lorem. Aliquam finibus enim eu tristique porta. Fusce lacinia massa ipsum, id congue diam ultrices eget. Duis sollicitudin turpis lorem, et laoreet ex viverra non. Proin nunc urna, tempor nec purus et, ultrices facilisis elit. Sed fringilla tortor ac erat feugiat, et consequat quam hendrerit. Sed finibus aliquet sapien, a molestie lacus.</p>

            <p>Praesent eu ornare elit. Morbi tristique turpis et enim accumsan, ac faucibus leo ultricies. Morbi nec auctor nulla. Aliquam erat volutpat. Sed et urna ex. Aenean laoreet ex sit amet finibus dapibus. Suspendisse turpis dui, pellentesque condimentum lectus eget, sollicitudin condimentum nibh. Pellentesque tempor mauris diam, at lobortis ante ullamcorper accumsan. Nullam sed libero cursus, blandit libero id, mollis odio. Ut sapien lectus, dapibus vel vehicula vestibulum, mollis et mi.</p>

            <p>In iaculis consectetur pharetra. Donec placerat gravida sem, dignissim tempor turpis dapibus vel. Ut tristique ac est ac ultrices. Donec eget nunc dolor. Vestibulum tempus hendrerit dolor, eu condimentum enim rutrum nec. Phasellus eu arcu et odio elementum aliquet. Maecenas eget nisi convallis, faucibus erat et, aliquet est. Proin nisi quam, molestie vitae maximus eget, feugiat ac diam.</p>
        </div>
    </body>
</html>
